header {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  a {
    padding: 20px;
    text-decoration: none;
    color: white;
  }
  .left-menu {
    .logo {
      display: flex;
      justify-content: center;
    }
    display: flex;
  }
  .right-menu {
    display: flex;
  }
}


.listings-header {
  header {
    background-color: $blue;
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: white;
    .logo {
    }
    nav {
      a {
        color: white;
        text-decoration: none;
        padding: 7px 20px;
        text-transform: uppercase;
        font-weight: 300;
        font-size: .9rem;
        &:hover {
          color: $pink;
        }
        &.register-btn {
          background: $pink;
          text-align: center;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
}
