.landing-page-bg {
  background:  linear-gradient(135deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 100%),
  url('https://images.unsplash.com/photo-1489370321024-e0410ad08da4?ixlib=rb-0.3.5&s=9795e789296cd9049afc8abfae0a7bb7&auto=format&fit=crop&w=1050&q=80') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  .nav-one {
    display: block;
    border: 1px solid red;
  }
  .home-content-container {
    // border: 1px solid red;
    margin: 35vh auto;
    width: 100%;
    text-align: center;
    h1 {
      font-size: 2rem;
      color: white;
    }
    button {
      margin-top: 15px;
      border: none;
      background: gold;
      padding: 10px;
      color: black;
      font-weight: 700;
      cursor: pointer;
    }
  }
}

// #bg-container {
//   background: url('https://images.unsplash.com/photo-1489370321024-e0410ad08da4?ixlib=rb-0.3.5&s=9795e789296cd9049afc8abfae0a7bb7&auto=format&fit=crop&w=1050&q=80') center no-repeat;
//   background-size: cover;
//   .black-screen {
//     background-color: black;
//     background: rgba(39,62,84,0.82);
//     overflow: hidden;
//     height: 100%;
//     z-index: 2;
//     padding: 400px 200px;
//
//   }
// }
